@media screen and (max-width: 890px) {
  .project > div {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .project {
    height: 65rem;
  }
  .repo {
    width: 100%;
    height: 12rem;
    font-size: x-small;
  }
}

@media screen and (max-width: 779px) {
  .project > h1 {
    font-size: x-large;
  }
}
