@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
body {
  overflow-x: hidden;
}

.star {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: float 10s linear infinite;
}

.star::before {
  content: "";
}

@keyframes float {
  0% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}
