@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
body {
  overflow-x: hidden;
}

.star {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  animation: float 10s linear infinite;
}

.star::before {
  content: "";
}

@keyframes float {
  0% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 1; /* End with dots fully visible */
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0; /* Start with dots invisible */
  }
}
